body{
	background-image: url("https://s3.amazonaws.com/ooomf-com-files/2EsHHwmRswlLYnaG07Ew_paris-motionbug.com.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	
}

.body2{
	background-image: url("https://s3.amazonaws.com/ooomf-com-files/ic1dX3kBQjGNaPQb8Xel_1920%20x%201280.jpg");
	background-size:100%;
	background-repeat: no-repeat;
}
.about-me{
	border-width: 0px;
	color: #9900CC;
	text-align: center;
	border-color: green;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: fantasy;
}

.name{
	border-width: 0px;
	color: #9900CC;
	text-align: center;
	border-color: yellow;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: fantasy;
}
div{
	border-style: solid;
	
}

.row{
	border-width: 0px;
	border-color: white;
	margin-top: 10px;
}

.container{
	border-width: 0px;
	
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 25px;
   
}

.container2{
	border-width: 10px;
	border-color: blue;
	margin-top: 25px;
	margin-left: 98px;
	width: 300px;
	border-style: ridge;
}

article{
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.about-me-para{
	color: lime;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border-color: purple;
	border-width:10px;
	text-align: center;
	border-style: ridge;
	
}

.container3{
	border-width: 10px;
	border-color: blue;
	margin-top: 25px;
	margin-left: 98px;
	width: 300px;
	border-style: ridge;
}



.container4{
	border-width: 10px;
	border-color: blue;
	margin-top: 25px;
	margin-left: 98px;
	width: 300px;
	border-style: ridge;
}

.modal-content{
	width: 500px;
	padding-bottom: 25px;
}

.modal.fade .modal-dialog {
	width: 500px;
	border-width: 0px;
}

.btn-primary{
	background-color: #660033;
	border-color: black;
	margin-left: 20px;
}

.btn-primary2{
	background-color: #660033;
	border-color: black;
	margin-left: 370px;
	width: 120px;
	margin-top: 50px;
	color: white;
}

.picture{
	border-width: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.container5{
	border-width: 0px;
	margin-left: 625px;
	width: 120px;
	margin-top: 50px;
}

