body{
	background-image: url("http://fc04.deviantart.net/fs71/i/2012/159/9/4/wallpaper___sherlock_by_slench-d52pjdz.png");
	background-size:100%;
	background-repeat: no-repeat;
}
.about-me{
	border-width: 5px;
	color: blue;
	text-align: center;
	border-color: green;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;

}

.name{
	border-width: 5px;
	color: blue;
	text-align: center;
	border-color: yellow;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;

}
div{
	border-style: solid;
	
}

.row{
	border-width: 5px;
	border-color: white;
	margin-top: 10px;
}

.container{
	border-width: 5px;
	border-color: red;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 25px;
    margin-bottom: px;

}

.container2{
	border-width: 10px;
	border-color: blue;
	margin-top: 25px;
	margin-left: 98px;
	width: 300px;
	border-style: ridge;
	
	
}

article{
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.about-me-para{
	color: lime;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border-color: purple;
	border-width:10px;
	text-align: center;
	border-style: ridge;
	
}

.container3{
	border-width: 10px;
	border-color: blue;
	margin-top: 25px;
	margin-left: 98px;
	width: 300px;
	border-style: ridge;
}